*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(232, 201, 201);
}
header{
  
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(46, 46, 190) ;
    color: white;
    padding: 15px 30px ;
    border: none;
    border-radius: 10px;

}
.btn:hover{
    background-color: rgb(21, 21, 135);
    cursor: pointer;
    transition: 0.8s;
}

#highlights-section{
    width: 70%;
    margin: 50px auto;
}
#highlights-section > h2 {
font-size: 50px;
font-weight: 800;
text-align: center;
text-shadow: 2px 2px 8px rgb(167, 82, 82);
margin-bottom: 25px;
}
#highlights-section >p {
margin: 0 auto;
width: 50%;
color: rgb(91, 78, 78);
text-align: center;
margin-bottom: 25px;
}
#buy-now-button{
    display: flex;
    justify-content: center;
}
#cover-image-section{
    width: 60%;
    margin: 50px auto;

}
#cover-image-section img{
    width: 100%;

}